.card{
    margin: 10px;
}

.containerInput{
    width: 20vw;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.busqueda{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.btn{
    margin-left:5px;
}
.contenedorProgreso{
    margin-bottom:5px;
}
